##==============================================================================
## LOGO
##==============================================================================

logo="
\e[0;97;49m         ▄▄███████▄▄
\e[0;97;49m      ▄██████\e[0;97;40m▀▀▀\e[0;97;49m██████▄
\e[0;97;49m    ▄████\e[0;97;40m▀         ▀\e[0;97;49m████▄
\e[0;97;49m   ████\e[0;97;40m▀         · \ ▀\e[0;97;49m████
\e[0;97;49m  ███\e[0;97;40m▀     /-/-/-/  @ .▀\e[0;97;49m███
\e[0;97;49m ████\e[0;97;40m         |    . \  \e[0;97;49m████ 
\e[0;97;49m ███\e[0;97;40m         /X\         \e[0;97;49m███
\e[0;97;49m ███\e[0;97;40m▄  ___  />X<\ ><><  ▄\e[0;97;49m███ 
\e[0;97;49m ▀███\e[0;97;40m  ||| /><X><\ \/   \e[0;97;49m███▀
\e[0;97;49m  ▀███\e[0;97;104m▄               ▄\e[0;97;49m███▀
\e[0;97;49m   ▀████\e[0;97;104m▄  \e[1;30;104mEA7·RCT\e[0;97;104m  ▄\e[0;97;49m████▀
\e[0;97;49m     ▀████\e[0;97;104m▄▄▄   ▄▄▄\e[0;97;49m████▀
\e[0;97;49m       ▀▀███████████▀▀
\e[0;97;49m           ▀▀▀▀▀▀▀\n"

                     

##==============================================================================
## COLORS
##==============================================================================

format_info="           -c white"
format_highlight="      -c light-blue   -e bold"
format_crit="           -c 208          -e bold"
format_deco="           -c white        -e bold"
format_ok="             -c light-blue   -e bold"
format_error="          -c 208          -e bold -e blink"
format_logo="           -c light-blue   -e bold"

