##==============================================================================
## LOGO
##==============================================================================

logo="
        \e[1;38;5;16m▄▄▄\e[48;5;15m█▀▀▀▀▀█\e[0;38;5;16m▄▄▄
     \e[1;38;5;16m▄\e[48;5;15m█▀▀ ▄▄▄▄▄▄▄▄▄ ▀▀█\e[0;38;5;16m▄
   \e[1;38;5;16m▄\e[48;5;15m█▀ ▄█▀▀       ▀▀█▄ ▀█\e[0;38;5;16m▄
  \e[1;38;5;16m\e[48;5;15m█▀ ▄█▀          ·\ ▀█▄ ▀█\e[0;38;5;16m
 \e[1;38;5;16m\e[48;5;15m█▀ █▀     (( o ))  @ .▀█ ▀█\e[0;38;5;16m
\e[1;38;5;16m▄\e[48;5;15m█ █▀   \e[48;5;39m \e[48;5;15m     |    . \  ▀█ █\e[0;38;5;16m▄
\e[1;38;5;16m\e[48;5;15m█  █    \e[48;5;39m    \e[48;5;15m /X\         █  █\e[0;38;5;16m
\e[1;38;5;16m\e[48;5;15m█  █__\e[48;5;39m___   />\e[48;5;15mX<\  ><><  █  █\e[0;38;5;16m
\e[1;38;5;16m\e[48;5;15m█▄ █\e[48;5;39m|||||  /><X><\  \/   \e[48;5;15m█ ▄█\e[0;38;5;16m
 \e[1;38;5;16m\e[48;5;15m█ ▀█\e[48;5;16m                   \e[48;5;15m█▀ █\e[0;38;5;16m
 \e[1;38;5;16m▀\e[48;5;15m█ ▀█\e[48;5;16m▄    \e[38;5;15mEA7·RCT\e[38;5;16m    ▄\e[48;5;15m█▀ █\e[0;38;5;16m▀
  \e[1;38;5;16m▀\e[48;5;15m█▄ ▀█\e[48;5;16m▄  \e[0;38;5;15;48;5;16mIM76-SR\e[1;38;5;16m  ▄\e[48;5;15m█▀ ▄█\e[0;38;5;16m▀
    \e[1;38;5;16m▀\e[48;5;15m█▄ ▀▀\e[48;5;16m█▄▄▄▄▄▄▄\e[48;5;15m█▀▀ ▄█\e[0;38;5;16m▀ 
      \e[1;38;5;16m▀▀\e[48;5;15m█▄▄▄     ▄▄▄█\e[0;38;5;16m▀▀
           \e[1;38;5;16m▀▀▀▀▀▀▀\e[0;38;5;16m\n"
                     

##==============================================================================
## COLORS
##==============================================================================

format_info="           -c white"
format_highlight="      -c 39           -e bold"
format_crit="           -c 208          -e bold"
format_deco="           -c white        -e bold"
format_ok="             -c 39           -e bold"
format_error="          -c 208          -e bold -e blink"
format_logo="           -c 39           -e bold"

